.button-spinner {
    display: inline-block;
    position: relative;
    margin-left: 8px;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

.mirror-manager-textbox {
    display: block;
    max-width: 450px !important;
}