.stash-theme #content #achievements-table td {
    width: 300px;
    height: 116px;

    border-right: 1px dotted #DDDDDD;
    border-left: 1px dotted #DDDDDD;
}

.stash-theme #content #achievements-table td:hover {
    background-color: #f5f5f5;
}

.stash-theme #content #achievements-table > tbody > tr:hover {
    background-color: #ffffff;
}

.badge {
    display: block;
    width: 120px;
    height: 115px;
    text-align: center;
    float: left;
}

.badge img {
    width: 115px;
}

.badge-info {
    margin: 5px 10px 0 0;
    text-align: left;
}

.badge-info strong {
    display: block;
    height: 18px;
}

.badge-info small {
    display: block;
    height: 60px;
}

.knob.badge {
    margin-top: 4px;
    background: url(images/badge-progress.png) 3px 0px no-repeat;
}

.knob.badge-info p {
    text-align: right;
}